<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
    </head>
    <body>
        <div class="container">
            <h1>Hmmmm... This is NOT April!?!?</h1>
            <img src="{{ url_for('static', filename='notapril.jpg') }}" alt="Not April pic" height="550" width="700">
            <ul>
                <li>Visit this address to see all Four Ninja Turtles! --> <a href="/ninja">http://localhost:5000/ninja</a></li>
                <li>Visit this address to see Ninja Turtle Leonardo!  --> <a href="/ninja/blue">http://localhost:5000/ninja/blue</a></li>
                <li>Visit this address to see Ninja Turtle Michelangelo! --> <a href="/ninja/orange">http://localhost:5000/ninja/orange</a></li>
                <li>Visit this address to see Ninja Turtle Donatello! --> <a href="/ninja/purple">http://localhost:5000/ninja/purple</a></li>
                <li>Visit this address to see Ninja Turtle Raphael! --> <a href="/ninja/red">http://localhost:5000/ninja/red</a></li>
            </ul>
        </div>
    </body>
</html>